<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="com.ibdata.tdd" level="DEBUG" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    
    <Logger name="org.springframework.core" level="DEBUG" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    
    <Logger name="org.springframework.beans" level="DEBUG" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    
    <Logger name="org.springframework.jdbc" level="DEBUG" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    
    <Logger name="org.springframework.context" level="DEBUG" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    
    <Logger name="org.springframework.web" level="DEBUG" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    
    <Logger name="org.dbunit.dataset" level="DEBUG" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    
	<logger name="log4jdbc.log4j2" level="error" additivity="false">
	  <AppenderRef ref="Console"/>
	</logger>
    
    <Root level="error">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>